<shpp-container>
  <ng-container navbar>
    <div class="game-header">
      <div class="game-header__meta min-w">
        <shpp-game-name />
        <shpp-game-info />
      </div>
      <shpp-nav-player-info class="game-header__player" />
    </div>
  </ng-container>

  <ng-container content>
    <shpp-card-table class="flex-grow-1" />
    <shpp-turn-summary *ngIf="showSummary" class="bg-body-secondary" />
    <shpp-card-picker *ngIf="!showSummary" class="bg-body-secondary" />
  </ng-container>
</shpp-container>
